{% extends '@EasyAdmin/page/content.html.twig' %}


{% block page_title %}Área administrativa{% endblock %}

{% block page_actions %}
    <a class="btn btn-primary" href="{{ path('app_screen_criar') }}">Voltar para a Home</a>
{% endblock %}

{% block main %}
<table class="datagrid">
    <thead>
    <tr>
        <td>
            coluna
        </td>
        <td>
            coluna
        </td>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
{% endblock %}
